:host::ng-deep {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #aab3c5);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #cfd4de);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
    --scrollbar-border-radius: 5px;
  }

  .ng-scroll-content {
    display: flex;
    min-height: 100%;
  }
.sidebar-brand-full {
  max-height: 35px;
}

.sidebar-brand-narrow {
  max-height: 30px;
}
/* === Increase sidebar width === */
.sidebar {
  width: 300px !important;     /* 🔥 change à 270, 280, 300 selon ton goût */
}

.sidebar.sidebar-fixed {
  width: 265px !important;
}
  //.sidebar-nav {
  //  scrollbar-color: var(--cui-gray-500, #444) transparent;
  //}
}
/* Centrer le logo horizontalement dans toute la sidebar */
.sidebar-brand {
  width: 100% !important;                /* prend toute la largeur */
  display: flex !important;
  justify-content: center !important;    /* centre gauche ↔ droite */
  align-items: center !important;        /* centre haut ↔ bas */
  text-align: center !important;
}

/* Pour éviter que les deux logos s’affichent ensemble */
.sidebar-brand-narrow {
  display: none;
}


// ng-scrollbar css variables
//.cui-scrollbar {
//  --scrollbar-border-radius: 7px;
//  --scrollbar-padding: 1px;
//  --scrollbar-viewport-margin: 0;
//  --scrollbar-track-color: transparent;
//  --scrollbar-wrapper-color: transparent;
//  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
//  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
//  --scrollbar-size: 5px;
//  --scrollbar-hover-size: var(--scrollbar-size);
//  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
//  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
//}
